[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b2"
pytest = "==6.2.4"
pytest-cov = "==2.12.1"
pytest-sugar = "==0.9.4"
requests = "==2.25.1"

[packages]
fastapi = "==0.65.2"
pandas = "==1.4.3"
sqlalchemy = "==1.4.16"
uvicorn = "==0.13.4"

[requires]
python_version = "3.10"
