[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b2"

[packages]
beautifulsoup4 = "==4.9.3"
requests = "==2.25.1"

[requires]
python_version = "3.9"
